body {
    padding-top: 70px;
    background: url('/media/images/summer-landscape.jpg') no-repeat center -70px;
    font-size: 15px;
}

body, h1, h2, h3, h4, h5, h6 {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

p {
  margin-bottom: 8px;
}

em {
  font-style: italic;
}

strong {
  font-style: bold;
}

footer{
  font-size: 0.8em;
  text-align: center;
  margin: 20px 0 5px;
}

img.photo {
  padding: 5px;
  border: 1px solid #ccc;
  -moz-box-shadow: 0px 4px 12px #ccc;
  -webkit-box-shadow: 0px 4px 12px #ccc;
  box-shadow: 0px 4px 12px #ccc;
  margin: 3px 15px 15px 0;
  -moz-transform: rotate(-2deg);
  -webkit-transform: rotate(-2deg);
  transform: rotate(-2deg);
}

.sidebar {
  position: absolute;
  top: 30px;
}

.sidebar-fixed {
  position: fixed !important;
  top: 80px;
}

.sidebar .nav a {
  padding: 3px;
}

.sidebar .nav a:hover {
  background: none;
}

.sidebar .nav li.active>a {
  font-weight: bold;
}

.sidebar .nav-outer li ul.nav-inner {
  display: none;
  margin-left: 1em;
}

.sidebar .nav-outer li.active ul.nav-inner {
  display: block;
}

.navbar-fixed-top {
  background-color: rgba(248,248,248,0.6);
}

.navbar-nav > .active > a {
  background-color: rgba(213,213,213,0.6) !important;
}

.container {
  margin-top: 115px;
}

h4 {
  color: #666;
  font-weight: bold;
  font-size: 1.4em;
  clear: both;
  padding: 40px 0 0;
}

h5 {
  color: #444;
  font-weight: bold;
  font-size: 1.4em;
  clear: both;
  padding: 15px 0 0;
}

h6 {
  color: #333;
  font-weight: bold;
  font-size: 1.1em;
  clear: both;
}

.blog_excerpt{
    padding-bottom: 24px;
}

.blog_excerpt .post time{
    float: none;
    clear: left;
}

.blog_excerpt .button{
    float: right;
}

.blog_excerpt h3,
h2 {
  font-weight: bold;
  font-size: 1.5em;
  line-height: 30px;
}

.blog_excerpt h3{
    margin-bottom: 24px;
}

section.content{
    padding: 12px;
}

/* listing */

.listing{
}

.blog_excerpt img,
.listing img{
    width: 120px;
    height: 120px;
}

.listing li{
    list-style-type: none;
    float: left;
    width: 272px;
    margin-right: 24px;
    margin-bottom: 24px;
    padding: 12px;
    -moz-box-shadow: 0px 4px 12px #ccc; /* FF3.5+ */
    -webkit-box-shadow: 0px 4px 12px #ccc; /* Saf3.0+, Chrome */
          box-shadow: 0px 4px 12px #ccc; /* Opera 10.5, IE 9.0 */
              filter:  progid:DXImageTransform.Microsoft.dropshadow(OffX=12px, OffY=12px, Color='#ccc'); /* IE6,IE7 */
          -ms-filter: "progid:DXImageTransform.Microsoft.dropshadow(OffX=12px, OffY=12px, Color='#ccc')"; /* IE8 */

}

.listing li:nth-child(2){
    margin-right: 0;
}

.listing li:nth-child(3){
    clear: left;
}

.listing li p{
    margin-bottom: 12px;
}


.listing h3{
font-weight: bold;
    font-size: 1em;
    line-height: 18px;
    margin-bottom: 6px;
}

.list time{
    float: right;
    padding-top: 1px;
}

.list .tags {
  float: right;
}

/* Content */

article.post p{
    margin: 6px 0;
}

article.post img{
    margin-bottom: 24px;
}

.post time{
    font-size: 0.9em;
    color: #999;
    float:left;
    margin-top: 6px;
}

ul.tags{
    text-align: right;
}

ul.tags li{
    list-style-type: none;
    display: inline;
    padding: .1em .3em;
}

ul.tags li a{
    text-decoration: none;
}

ul.tags li a:hover{
    color: #222;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  color: #666;
  text-decoration: none;
}

nav.post_nav{
    background-color: #efefef;
    position: fixed;
    width: 124px;
    margin-left: -186px;
    font-size: 0.8em;
    padding: 12px;
    padding-right: 24px;
    -moz-box-shadow: 0px 2px 4px #ccc; /* FF3.5+ */
    -webkit-box-shadow: 0px 2px 4px #ccc; /* Saf3.0+, Chrome */
          box-shadow: 0px 2px 4px #ccc; /* Opera 10.5, IE 9.0 */
              filter:  progid:DXImageTransform.Microsoft.dropshadow(OffX=12px, OffY=12px, Color='#ccc'); /* IE6,IE7 */
          -ms-filter: "progid:DXImageTransform.Microsoft.dropshadow(OffX=12px, OffY=12px, Color='#ccc')"; /* IE8 */

}

#facebook_like{
    margin-top: 1px;
}

.archives ul.posts{
    margin-top: 24px;
}

.archives li.post{
    list-style-type: none;
    border-bottom: 1px dotted #ccc;
    padding: 12px 0;

}

.archives li.post time{
    color: #999;
    margin-right: 24px;
    display:block;
    float: left;
    width: 120px;
}

.archives li.post a{
    float: left;
}

.archives ul.tags{
    float: right;
    margin-bottom:0;
}


.codebox {
  margin-top: 8px;
  margin-bottom: 12px;
}
.code {
  position: relative;
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  -o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  background-color: #F0F3F3;
}
.code figcaption {
  font-size: 0.9em;
  position: absolute;
  bottom: 3px;
  right: 12px;
  color: rgba(0, 0, 0, 0.5);
}
.highlight pre {
  font-size: 1em;
  padding: 16px 12px 12px;
  line-height: 24px;
  margin-bottom: 8px;
}

.content ul li {
  margin-left: 20px !important;
}

dt {
  font-weight: bold;
  margin-top: 1em;
}

blockquote {
  margin-top: 1em;
  quotes: "\201C""\201D";
  border-left: 0;
  font-size: 1em;
}

blockquote p {
  padding-left: 4em;
  font-size: 1em;
}

blockquote ul,
blockquote ol {
  padding-left: 6em;
}

blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 7em;
  line-height: .1em;
  padding-top: .2em;
  float: left;
}

blockquote cite {
  display: block;
  text-align: right;
  font-style: italic;
}

article time {
  display: block;
  color: #999;
  text-align: right;
  font-style: italic;
}

article h5 {
  margin-bottom: .5em;
}

.share-buttons {
  margin-top: 2em;
}

.fotorama__caption {
  font-family: "Open Sans", Arial, Helvetica, sans-serif !important;
  background-color: rgba(255, 255, 255, 0.5) !important;
  padding: 4px !important;
}
