<!doctype html>
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<head>
  {% block starthead %}{% endblock starthead %}
  <meta charset="{{ resource.meta.charset }}">
  <meta http-equiv="X-UA-Compatible" content="{{ resource.meta.compatibility }}">
  <title>{% block title %}{{ resource.meta.title }}{% endblock %}</title>
  <meta name="description" content="{{ resource.meta.description }}">
  <meta name="author" content="{{ resource.meta.author }}">
  <meta name="viewport" content="{{ resource.meta.viewport }}">
  {% block favicons %}
  <link rel="shortcut icon" href="{{ media_url('/favicon.ico') }}">
  {#<link rel="apple-touch-icon" href="{{ media_url('/apple-touch-icon.png') }}">#}
  {% endblock favicons %}
  {% block css %}
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700,700italic&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
  <link rel="stylesheet" href="{{ media_url('css/site.css') }}">
  <link rel="stylesheet" href="{{ media_url('css/syntax.css') }}">
  <link rel="stylesheet" href="{{ media_url('css/flags.css') }}">
  {% endblock css %}
  {% block headjs %}
  {% endblock headjs %}
  {% block endhead %}{% endblock endhead %}
</head>
<body id="{{ resource.meta.id if resource.meta.id else resource.slug }}">
  {% block content %}
  <div class="container">
      {% block container %}
      <div class="navbar navbar-fixed-top">
          {% block header -%}
          <div class="navbar-brand">
            <a href="/">Victor Kropp</a>
          </div>
          {%- endblock %}
          {% block nav %}
          {% from "macros.j2" import render_nav with context %}
          {{ render_nav(resource.meta.menu if resource.meta.menu else menu, 'main_nav') }}
          {% from "macros.j2" import render_language_nav with context %}
          {{ render_language_nav(resource.meta.language_menu if resource.meta.language_menu else language_menu, 'main_nav') }}
          {% endblock %}
      </div>
      {% block main %}
      {% endblock main %}
    {% endblock container %}
  </div> <!--! end of #container -->
  {% block footer %}<footer>
      © Victor Kropp, 2012&ndash;2014. Unless otherwise noted, content on this site is licensed under a <a href="http://creativecommons.org/licenses/by-sa/3.0">CC BY-SA</a> license.
  </footer>{% endblock footer %}
  {% endblock content%}
  {% block js %}
  {% block jquery %}
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>
  <script src="{{ media_url('js/jquery.timeago.js') }}"></script>
  <script src="{{ media_url('js/jquery.infinitescroll.min.js') }}"></script>
  <script src="{{ media_url('js/site.js') }}"></script>
  {% if resource.meta.language == "ru" %}
  <script src="{{ media_url('js/jquery.timeago.ru.js') }}"></script>
  {% endif %}
  {% endblock jquery %}
  {% block scripts %}
  {% endblock scripts %}
  {% block analytics %}
  {% include "analytics.j2" %}
  {% endblock analytics %}
  {% endblock js %}
</body>
</html>
