{% extends "base.j2" %}

{% from "macros.j2" import render_post with context  %}
{% block endhead %}
<link rel="alternate" type="application/atom+xml" title="{{ resource.meta.title }}" href="http://feeds.feedburner.com/kropp/ru/blog" />
{% endblock endhead %}
{% block main %}

<div class="list">
{% for res in resource.page.posts %}
  {{ render_post(res) }}
{% endfor %}
</div>

<ul class="pager">
{% if resource.page.previous %}
<li class="previous"><a href="{{ resource.page.previous.number }}.html">&larr;</a></li>
{% endif %}
{% if resource.page.next %}
  <li class="next"><a href="{{ resource.page.next.number }}.html">&rarr;</a></li>
{% endif %}
</ul>

{% endblock %}

{% block scripts %}
<link href="http://fotorama.s3.amazonaws.com/4.1.16/fotorama.css" rel="stylesheet"> 
<script src="http://fotorama.s3.amazonaws.com/4.1.16/fotorama.js"></script>
<script>
$(document).ready(function() {
  $("time").timeago();
  $("div.list").infinitescroll({
    debug: true,
    navSelector: "ul.pager",
    nextSelector: "ul.pager li.next a",
    itemSelector: "div.list article",
  }, function() {
    $("time").timeago();
    $(".fotorama").fotorama();
  });
});
</script>
{% endblock %}
