{% macro render_post(res, class=None) %}
{% refer to res.relative_path as post %}
<article {{'class='~class if class }}>
<h5><a href="{{ content_url(res.url) }}">{{ res.meta.title }}</a></h5>
{{ post.post|markdown|typogrify }}
<div class="clear">
{% if res.meta.tags %}
<ul class="tags">
{% for tag in res.meta.tags %}
<li>
    <a class="label label-default" href="{{ content_url('blog/tags/'~tag~'.html') }}">
        {{ tag }}
    </a>
</li>
{% endfor %}
</ul>
{% endif %}
<time datetime="{{ res.meta.created.strftime('%Y-%m-%dT%H:%M+0100') }}">
   {{ res.meta.created.strftime('%d.%m.%Y %H:%M') }}
</time>
</div>
</article>
{% endmacro %}

{% macro render_excerpt(res, class=None) %}
{% refer to res.url as post %}
<article {{'class='~class if class }}>
<h3><a href="{{ content_url(res.url) }}">{{ res.meta.title }}</a></h3>
<a href="{{ content_url(res.url) }}">{{ post.image|markdown|typogrify }}</a>
{{ post.excerpt|markdown|typogrify }}
<time datetime="{{ res.meta.created.strftime('%Y-%m-%d') }}">
    Posted: {{ res.meta.created.strftime('%a, %d %b %Y') }}
</time>
</article>
{% endmacro %}

{% macro render_nav(menu, cls=None) -%}
{% if menu -%}
<ul class="nav navbar-nav">
{% for item in menu -%}
{% set active = ('/' + resource.url == item.url + 'index.html') -%}
{% set classes = [] -%}
{% do classes.append('active') if active -%}
{% do classes.append(item.css_class) if item.css_class -%}
<li class="{{ classes|join(' ') }}"><a title="{{ item.description }}" href="{{ content_url(item.url) }}">{{ item.name }}</a></li>
{%- endfor %}
</ul>
{%- endif %}
{%- endmacro %}

{% macro render_language_nav(menu, cls=None) -%}
{% if menu -%}
<ul class="nav navbar-nav navbar-right" style="margin-right: 1em;">
{% for item in menu -%}
{% set active = ('/' + resource.url == item.url + 'index.html') -%}
{% set classes = [] -%}
{% do classes.append('active') if active -%}
{% do classes.append(item.css_class) if item.css_class -%}
<li class="{{ classes|join(' ') }}"><a title="{{ item.description }}" href="{{ content_url(item.url) }}">{{ item.name }}</a></li>
{%- endfor %}
</ul>
{%- endif %}
{%- endmacro %}
