{% extends "base.j2" %}

{% block scripts %}
<link href="http://fotorama.s3.amazonaws.com/4.1.16/fotorama.css" rel="stylesheet"> 
<script src="http://fotorama.s3.amazonaws.com/4.1.16/fotorama.js"></script>
{% endblock %}
