*{box-sizing:border-box;padding:0;margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;text-size-adjust:none}
ul.list-unstyled { list-style: none; }

body {
  font-size: 18px;
  font-family: Inter, Arial, Helvetica, sans-serif;
  line-height: 1.4;
  padding: 20px 0;
  margin: 0 auto;
  max-width: 1000px;

  background: #ffffff;
  transition: background-color ease-out .2s;
}

@media (prefers-color-scheme: dark) {
  body {
    background: #111115;
    color: #e2e2e2;
    transition: background-color ease-out .2s;
  }
  .highlight {
    background: #202020 !important;
  }
  ul code,
  ol code,
  p code {
    border-color: #505050 !important;
    background: #202020 !important;
  }
  a.button {
    color: #e2e2e2 !important;
    background: hsla(0,0%,91%,.2) !important;
  }
}

body#travel {
  background: #111115;
  color: #e2e2e2;
}

.homepage-photo {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  float: right;
  margin-left: 50px;
}


a {
  color: #337ab7;
  text-decoration: none;
  -webkit-transition: .3s ease;
  transition:.3s ease;
}

a:hover {
  color: #23527c;
  border-bottom: 2px solid #23527c;
  -webkit-transition: 0s ease;
  transition: 0s ease;
}

.navbar-brand {
  display: block;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 0.5em;
}

.navbar-brand img {
  width: 32px;
  border-radius: 16px;
  margin: 0 0.5em -0.3em 0;
}

a.navbar-brand {
  border-bottom: none;
}

.navbar a {
  line-height: 30px;
  margin-left: 1.5em;
  color: #777;
}

.navbar a:hover {
  border-bottom-color: #333;
}

.lang {
  float: right;
  line-height: 30px;
  color: #777;
}

h2 {
  font-size: 30px;
  font-weight: 500;
  margin-top: 1em;
}

h3 {
  font-size: 24px;
  font-weight: 400;
  margin: 1em 0 -0.2em;
}

.gist,
h4 {
  font-size: 20px;
  font-weight: 600;
  margin: 1.2em 0 0;
}

h4>a {
  color: #000;
}

h5 {
  font-size: 16px;
  font-weight: 700;
  margin: 1em 0 0;
}

ul, ol, p {
  margin-top: 1em;
}

@font-face{
  font-family: 'JetBrains Mono';
  src: url('https://raw.githubusercontent.com/JetBrains/JetBrainsMono/master/web/eot/JetBrainsMono-Regular.eot') format('embedded-opentype'),
  url('https://raw.githubusercontent.com/JetBrains/JetBrainsMono/master/web/woff2/JetBrainsMono-Regular.woff2') format('woff2'),
  url('https://raw.githubusercontent.com/JetBrains/JetBrainsMono/master/web/woff/JetBrainsMono-Regular.woff') format('woff'),
  url('https://raw.githubusercontent.com/JetBrains/JetBrainsMono/master/ttf/JetBrainsMono-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

code {
  font-family: 'JetBrains Mono', monospace;
  -webkit-font-feature-settings: "calt" on;
  /*-webkit-font-feature-settings: "liga" on, "calt" on;*/
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

kbd {
  font-family: 'JetBrains Mono', monospace;
  -webkit-font-feature-settings: "calt" on;
  /*-webkit-font-feature-settings: "liga" on, "calt" on;*/
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  border: 1px solid #e6e6e6;
  border-radius: 2px;
  padding: 0 2px;
  background: #f6f6f6;
  font-size: 16px;
}

ul code,
ol code,
p code {
  border: 1px solid #e6e6e6;
  border-radius: 2px;
  padding: 0 2px;
  background: #f6f6f6;
  font-size: 16px;
}

figure {
  margin: 2em auto 1em;
}

figure img {
  display: block;
  margin: 0 auto;
}

figcaption p,
figcaption p a {
  color: #999;
  font-size: 14px;
  margin-top: 4px;
}

.fotorama__caption__wrap {
  background-color: rgba(255, 255, 255, 0.3) !important;
  font-size: 14px;
  font-family: "Inter UI", Arial, Helvetica, sans-serif;
  color: #555;
}

.fotorama {
  display: block;
  margin: 2em auto;
}

.fotorama__wrap {
  margin: 0 auto;
}

iframe, twitter-widget {
  display: block;
  margin-left: auto !important;
  margin-right: auto !important;
}

.covers-line {
  margin-top: 1em;
}

.covers-line img {
  margin: 0;
  width: 25%
}

span.minor {
  color: #999;
}

li time {
  color: #999;
  font-size: 15px;
}

td.run-result {
  color: #999;
  text-align: right;
}

ol li, ul li {
  margin: 0 1.2em;
}
ul.list-unstyled li {
  margin: 0;
}

ul.inline {
  list-style: none;
  margin-top: 1em;
}
ul.inline li {
  display: inline;
  margin: 0 0.5em 0 0;
}

blockquote {
  padding-left: 20px;
  border-left: 0.5em solid #ccc;
}

blockquote .photo {
  border-radius: 50%;
  margin: 0 0 1em 2em;
  float: right;
}

td {
  padding-right: .5em;
}

.highlight {
  overflow-x: auto;
}

.metadata {
  margin-top: 1em;
  font-size: 16px;
  color: #999;
}

.metadata a {
  color: #777;
  margin-left: .5em;
}

.metadata a:hover {
  color: #333;
}

pre.shell {
  margin: 1em 0 -1em 0;
}

pre.shell code {
  display: block;
  overflow-x: auto;
  width: 100%;
  padding: 5px;
  background-color: #000;
  color: #fff;
}

.inline-logo {
  height: 1.3em;
  vertical-align: middle;
}

.tag-kotlin:before {
  background: url(/images/kotlin.svg) no-repeat;
  content: '';
  width: 1em;
  height: 1em;
  margin: .1em .3em .2em 0;
  vertical-align: middle;
  display: inline-block;
}


.author h5 {
  font-size: 18px;
  margin: 1.5em 0 0.2em;
}

.book h6 {
  font-size: 16px;
  margin: 0;
}

.book p {
  margin: 0 0 0.5em;
}

dl {
  margin-top: 1em;
}

dt {
  margin-top: .5em;
  font-weight: bold;
}

dd {
  padding: 0 23px;
}

dd>ul {
  margin-top: .5em;
  list-style: none;
}

.likely {
  padding: 20px 0 !important;
}

.likely__widget {
  font-family: "Inter UI", Arial, Helvetica, sans-serif !important;
  font-size: 16px !important;
  padding: 2px !important;
  height: 26px !important;
}

a.button {
  color: #000;
  border-radius: 3px;
  padding: 1px 5px;
  background: hsla(0,0%,91%,.8);
}
a.button:hover {
  text-decoration: none;
}
a.button-rss:hover {
  background: rgba(255,102,0,.2);
}
a.button-twitter:hover {
  background: rgba(191,237,250,.8);
}
a.button-telegram:hover {
  background: rgba(204,234,246,.8);
}
a.button .fa-rss {
  color: #ff6600;
}
a.button .fa-twitter {
  color: #00b7ec;
}
a.button .fa-paper-plane {
  color: #34abde;
}

footer {
  color: #777;
  font-size: 14px;
  margin: .5em auto 0;
  text-align: center;
}

iframe {
  border: 0;
  margin: 1em;
}

iframe.instagram-media {
  margin-top: 1em !important;
}

@media (max-width: 1000px) {
  p, ul, ol, dl,
  h1, h2, h3, h4, h5, h6,
  .metadata,
  footer,
  table,
  .gist,
  .navbar-brand, .lang {
    padding: 0 20px;
  }
  blockquote {
    margin-left: 20px;
    padding-left: 0;
  }
  blockquote pre {
    padding: 0 20px;
  }
  .likely {
    padding: 0 20px !important;
  }
  .navbar {
    padding: 0 20px;
    width: 100%;
  }
  .navbar a {
    margin-right: 1.5em;
    margin-left: 0;
  }
  pre.shell code,
  .highlight {
    display: block;
    margin: 1em 0 !important;
    padding: 5px 20px;
  }
  #disqus_thread,
  .twitter-tweet {
    padding: 0 20px !important;
  }
  figure img {
    max-width: 100%;
    width: auto;
    height: auto;
  }
  .homepage-photo {
    display: none;
  }
}

@media (min-width: 1000px) {
  .navbar-brand, .navbar {
    display: inline-block;
  }
  .highlight {
    margin: 1em 0 !important;
    padding: 5px;
  }
  iframe.instagram-media {
    padding: 0 !important;
  }
}
