body {
    font-size: 16px;
    padding-top: 2em;
}

.container p img {
  display: block;
  margin: 2em auto;
}

.container .fotorama {
  display: block;
  margin: 2em auto;
}

.container iframe {
  margin: 2em auto !important;
}

body, h1, h2, h3, h4, h5, h6 {
    font-family: "LatoWeb", Arial, Helvetica, sans-serif;
}

p {
  margin-bottom: 8px;
}

em {
  font-style: italic;
}

strong {
  font-style: bold;
}

footer {
  font-size: 0.8em;
  text-align: center;
  padding: 20px 0 5px;
  background: #fff;
}

#homepage footer {
  position: absolute;
  bottom: 0;
  left: 10px
}

.navbar-fixed-top {
  background-color: rgba(248,248,248,0.6);
}

.navbar-nav > .active > a {
  background-color: rgba(213,213,213,0.6) !important;
}

.navbar-nav > li > a:hover {
  background-color: rgba(255,255,255,0.2) !important;
}

.navbar-nav > li.lang {
  margin-right: 1em;
}

.navbar-title {
  color: #23527c;
  opacity: 0;
}

.sidebar-fixed {
  position: fixed !important;
  top: 40px;
  left: 40px;
}

.sidebar .nav a {
  padding: 3px;
}

.sidebar .nav a:hover {
  background: none;
}

.sidebar .nav li a {
  display: inline;
}

.sidebar .nav li span.count {
  color: gray;
  font-size: 0.65em;
  vertical-align: super;
}

.sidebar .nav li.active>a {
  font-weight: bold;
}

.sidebar .nav-outer li ul.nav-inner {
  display: none;
  margin-left: 1em;
}

.sidebar .nav-outer li.active>ul.nav-inner,
.sidebar .nav-outer li ul.nav-inner.open {
  display: block;
}

h4 {
  color: #666;
  font-weight: bold;
  font-size: 1.4em;
  clear: both;
  padding: 40px 0 0;
}

h5 {
  color: #444;
  font-weight: bold;
  font-size: 1.2em;
  clear: both;
  padding: 15px 0 0;
}

h6 {
  color: #333;
  font-weight: bold;
  font-size: 1.1em;
  clear: both;
}

section.content{
    padding: 12px;
}

/* listing */

.listing{
}

.blog_excerpt img,
.listing img{
    width: 120px;
    height: 120px;
}

.listing li{
    list-style-type: none;
    float: left;
    width: 272px;
    margin-right: 24px;
    margin-bottom: 24px;
    padding: 12px;
    -moz-box-shadow: 0px 4px 12px #ccc; /* FF3.5+ */
    -webkit-box-shadow: 0px 4px 12px #ccc; /* Saf3.0+, Chrome */
          box-shadow: 0px 4px 12px #ccc; /* Opera 10.5, IE 9.0 */
              filter:  progid:DXImageTransform.Microsoft.dropshadow(OffX=12px, OffY=12px, Color='#ccc'); /* IE6,IE7 */
          -ms-filter: "progid:DXImageTransform.Microsoft.dropshadow(OffX=12px, OffY=12px, Color='#ccc')"; /* IE8 */

}

.listing li:nth-child(2){
    margin-right: 0;
}

.listing li:nth-child(3){
    clear: left;
}

.listing li p{
    margin-bottom: 12px;
}


.listing h3{
font-weight: bold;
    font-size: 1em;
    line-height: 18px;
    margin-bottom: 6px;
}

.list time{
    float: right;
    padding-top: 1px;
}

.list .tags {
  float: right;
}

/* Content */

#homepage {
  background: #fff url('/portrait.jpg') no-repeat 90% 50px;
}

#homepage .navbar-fixed-top {
  background-color: #fff;
}

#homepage .container {
  font-size: 1.2em;
}

.list-unstyled time {
  font-size: 0.75em;
  color: #999;
}

article time {
    font-size: 0.9em;
    color: #999;
    margin-top: 30px;
}

ul.tags{
    text-align: right;
}

ul.tags li{
    list-style-type: none;
    display: inline;
    padding: .1em .3em;
}

ul.tags li a{
    text-decoration: none;
}

ul.tags li a:hover{
    color: #222;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  color: #666;
  text-decoration: none;
}

dt {
  font-weight: bold;
  margin-top: 1em;
}

dd dt {
  display: inline;
  margin-right: .4em;
}

dd dd {
  display: inline;
}

blockquote {
  margin-top: 1em;
  quotes: "\201C""\201D";
  border-left: 0;
  font-size: 1em;
}

blockquote p {
  padding-left: 4em;
  font-size: 1em;
}

blockquote ul,
blockquote ol {
  padding-left: 6em;
}

blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 7em;
  line-height: .1em;
  padding-top: .2em;
  float: left;
}

blockquote cite {
  display: block;
  text-align: right;
  font-style: italic;
}

article time {
  display: block;
  color: #999;
  text-align: right;
  font-style: italic;
}

article h5 {
  margin-bottom: .5em;
}

.share-buttons {
  margin-top: 2em;
}

.fotorama__caption {
  font-family: "LatoWeb", Arial, Helvetica, sans-serif !important;
  background-color: rgba(255, 255, 255, 0.5) !important;
  padding: 4px !important;
}
