*{box-sizing:border-box;padding:0;margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;text-size-adjust:none}
ul { list-style: none; }

body {
  font-size: 16px;
  font-family: "Noto Sans", Arial, Helvetica, sans-serif;
  line-height: 1.4;
  margin: 0 auto;
  max-width: 1000px;
}

p, ul,
h1, h2, h3, h4, h5, h6,
article time,
#disqus_thread,
.navbar, .navbar-brand {
  padding: 0 20px !important;
}

a {
  color: #337ab7;
  text-decoration: none;
  -webkit-transition: .3s ease;
  transition:.3s ease;
}

a:hover {
  color: #23527c;
  text-decoration: underline;
  -webkit-transition: 0s ease;
  transition: 0s ease;
}

.navbar-brand {
  display: block;
  margin: 1em 0;
}

.navbar a {
  margin-right: 1.5em;
  color: #777;
}

.navbar a:hover {
  color: #333;
}

.navbar-brand {
  font-size: 20px;
}

h2 {
  font-size: 30px;
  font-weight: 500;
  margin-top: 1em;
}

h3 {
  font-size: 24px;
  font-weight: 400;
  margin: .5em 0;
}

h4 {
  font-size: 20px;
  font-weight: 400;
  margin: .5em 0;
}

h5 {
  font-size: 16px;
  font-weight: 700;
  margin: 1em 0 .5em;
}

p {
  margin-top: 0.5em;
}

p img {
  display: block;
  margin: 2em auto;
}

.fotorama {
  display: block;
  margin: 2em auto;
}

.fotorama__wrap {
  margin: 0 auto;
}

iframe {
  display: block;
  margin-left: auto !important;
  margin-right: auto !important;
}

li time {
  color: #999;
  font-size: 13px;
}

article time {
  float: right;
  font-size: 14px;
  color: #999;
  text-align: right;
  font-style: italic;
}

.likely {
  padding: 20px !important;
}

.likely__widget {
  font-family: "Noto Sans", Arial, Helvetica, sans-serif !important;
}

@media (max-width: 800px) {
  .navbar {
    width: 100%;
  }
}

@media (min-width: 1500px) {
  #homepage {
    background: #fff url('/portrait.jpg') no-repeat 90% 50px;
  }
  .navbar-brand, .navbar {
    display: inline-block;
    margin-right: 1.5em;
  }
}
