body {
    font-size: 16px;
    padding-top: 2em;
}

.container p img {
  display: block;
  margin: 2em auto;
}

.container .fotorama {
  display: block;
  margin: 2em auto;
}

.container .fotorama__wrap {
  margin: 0 auto;
}

.container iframe {
  display: block;
  margin-left: auto !important;
  margin-right: auto !important;
}

body, h1, h2, h3, h4, h5, h6 {
    font-family: "Noto Sans", Arial, Helvetica, sans-serif;
}

p {
  margin-bottom: 8px;
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

footer {
  font-size: 0.8em;
  text-align: center;
  padding: 20px 0 5px;
  background: #fff;
}

#homepage footer {
  position: absolute;
  bottom: 0;
  left: 10px
}

.navbar-default {
    background: none;
    border: 0;
}

.navbar-nav > li.lang {
  margin-right: 1em;
}

.navbar-title {
  color: #23527c;
  opacity: 0;
}

.navbar-brand {
  font-size: 1.5em;
  padding-left: 0;
}

.navbar .active a {
  background: none !important;
}

.navbar .nav li span.count {
  color: gray;
  font-size: 0.65em;
  vertical-align: super;
}

.navbar .nav li.active>a {
  font-weight: bold;
}

.navbar .nav-outer li ul.nav-inner {
  display: none;
  margin-left: 1em;
}

.navbar .nav-outer li.active>ul.nav-inner,
.navbar .nav-outer li ul.nav-inner.open {
  display: block;
}

h4 {
  color: #666;
  font-weight: bold;
  font-size: 1.4em;
  clear: both;
  padding: 40px 0 0;
}

h5 {
  color: #444;
  font-weight: bold;
  font-size: 1.2em;
  clear: both;
  padding: 15px 0 0;
}

h6 {
  color: #333;
  font-weight: bold;
  font-size: 1.1em;
  clear: both;
}

section.content{
    padding: 12px;
}

/* listing */

.listing{
}

.list time{
    float: right;
    padding-top: 1px;
}

.list .tags {
  float: right;
}

/* Content */

#homepage {
  background: #fff url('/portrait.jpg') no-repeat 90% 50px;
}

#homepage .navbar-fixed-top {
  background-color: #fff;
}

#homepage .container {
  font-size: 1.2em;
}

.list-unstyled time {
  font-size: 0.75em;
  color: #999;
}

article time {
    font-size: 0.9em;
    color: #999;
    float: right;
}

article h2 {
    margin-top: 0;
}

ul.tags{
    text-align: right;
}

ul.tags li{
    list-style-type: none;
    display: inline;
    padding: .1em .3em;
}

ul.tags li a{
    text-decoration: none;
}

ul.tags li a:hover{
    color: #222;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  color: #666;
  text-decoration: none;
}

dt {
  font-weight: bold;
  margin-top: 1em;
}

dd dt {
  display: inline;
  margin-right: .4em;
}

dd dd {
  display: inline;
}

blockquote {
  margin-top: 1em;
  quotes: "\201C""\201D";
  border-left: 0;
  font-size: 1em;
}

blockquote p {
  padding-left: 4em;
  font-size: 1em;
}

blockquote ul,
blockquote ol {
  padding-left: 6em;
}

blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 7em;
  line-height: .1em;
  padding-top: .2em;
  float: left;
}

blockquote cite {
  display: block;
  text-align: right;
  font-style: italic;
}

article time {
  display: block;
  color: #999;
  text-align: right;
  font-style: italic;
}

article h5 {
  margin-bottom: .5em;
}

.fotorama__caption {
  font-family: "Noto Sans", Arial, Helvetica, sans-serif !important;
  background-color: rgba(255, 255, 255, 0.5) !important;
  padding: 4px !important;
}
