*{box-sizing:border-box;padding:0;margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;text-size-adjust:none}
ul.list-unstyled { list-style: none; }

body {
  font-size: 16px;
  font-family: "Noto Sans", Arial, Helvetica, sans-serif;
  line-height: 1.4;
  padding: 20px 0;
  margin: 0 auto;
  max-width: 1000px;
}

.homepage-photo {
  width: 210px;
  height: 210px;
  border-radius: 50%;
  float: right;
}

p, ul, ol,
h1, h2, h3, h4, h5, h6,
.metadata,
#disqus_thread,
footer,
table,
.gist,
.navbar, .navbar-brand {
  padding: 0 20px !important;
}

a {
  color: #337ab7;
  text-decoration: none;
  -webkit-transition: .3s ease;
  transition:.3s ease;
}

a:hover {
  color: #23527c;
  text-decoration: underline;
  -webkit-transition: 0s ease;
  transition: 0s ease;
}

.navbar-brand {
  display: block;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 0.5em;
}

.navbar a {
  line-height: 30px;
  margin-right: 1.5em;
  color: #777;
}

.navbar a:hover {
  color: #333;
}

.lang {
  float: right;
  line-height: 30px;
  padding-right: 20px;
  color: #777;
}

h2 {
  font-size: 30px;
  font-weight: 500;
  margin-top: 1em;
}

h3 {
  font-size: 24px;
  font-weight: 400;
  margin: 1em 0 -0.2em;
}

.gist,
h4 {
  font-size: 20px;
  font-weight: 400;
  margin: 1.2em 0 0;
}

h4>a {
  color: #000;
}

h5 {
  font-size: 16px;
  font-weight: 700;
  margin: 1em 0 0;
}

ul, ol, p, pre {
  margin-top: 1em;
}

ul code,
ol code,
p code {
  border: 1px solid #e0e0e0;
  border-radius: 2px;
  padding: 1px 2px;
  background: #f0f0f0;
}

figure {
  margin: 2em auto 1em;
}

figure img {
  display: block;
  margin: 0 auto;
}

figure figcaption p {
  color: #999;
}

.fotorama {
  display: block;
  margin: 2em auto;
}

.fotorama__wrap {
  margin: 0 auto;
}

iframe, twitterwidget {
  display: block;
  margin-left: auto !important;
  margin-right: auto !important;
}

span.minor {
  color: #999;
}

li time {
  color: #999;
  font-size: 13px;
}

td.run-result {
  color: #999;
  text-align: right;
}

ol li, ul li {
  margin: 0 1.2em;
}
ul.list-unstyled li {
  margin: 0;
}

ul.inline {
  list-style: none;
  margin-top: 1em;
}
ul.inline li {
  display: inline;
  margin: 0 0.5em 0 0;
}

blockquote {
  margin-left: 20px;
  border-left: 0.5em solid #ccc;
}

blockquote .photo {
  border-radius: 50%;
  margin: 0 0 1em 2em;
  float: right;
}

td {
  padding-right: .5em;
}

.metadata {
  margin-top: 1em;
  font-size: 14px;
  color: #999;
}

.metadata a {
  color: #777;
  margin-left: .5em;
}

.metadata a:hover {
  color: #333;
}

code.shell {
  display: block;
  overflow-x: auto;
  width: 100%;
  padding: 5px;
  color: #fff;
  background-color: #000;
}

.inline-logo {
  height: 1.3em;
  vertical-align: middle;
}

.inline-logo-big {
  height: 2em;
}

.author h5 {
  font-size: 18px;
  margin: 1.5em 0 0.2em;
}

.book h6 {
  font-size: 16px;
  margin: 0;
}

.book p {
  margin: 0 0 0.5em;
}

.likely {
  padding: 20px !important;
}

.likely__widget {
  font-family: "Noto Sans", Arial, Helvetica, sans-serif !important;
}

a.button {
  color: #000;
  border-radius: 3px;
  padding: 1px 5px;
  background: hsla(0,0%,91%,.8);
}
a.button:hover {
  background: rgba(255,102,0,.2);
  text-decoration: none;
}
a.button .fa-rss {
  color: #ff6600;
}

footer {
  color: #777;
  font-size: 13px;
  margin: .5em auto 0;
  text-align: center;
}

iframe {
  border: 0;
  margin: 1em;
}

@media (max-width: 800px) {
  .navbar {
    width: 100%;
  }
  pre code {
    display: block;
    padding: 5px 20px !important;
  }
  .twitter-tweet {
    padding: 0 20px !important;
  }
  figure img {
    max-width: 100%;
    width: auto;
    height: auto;
  }
}

@media (min-width: 1200px) {
  .navbar-brand, .navbar {
    display: inline-block;
  }
  figure img, pre, iframe, .fotorama {
    padding: 0 20px !important;
  }
  iframe.instagram-media {
    padding: 0 !important;
  }
}
