  <div class="container">
    <div class="navbar navbar-fixed-top">
      <div class="navbar-brand"><a href="/">Victor Kropp</a></div>
      <ul class="nav navbar-nav">
        <li class="blog"><a title="Мысли обо всём" href="//victor.kropp.name/ru/blog/">думаю</a></li>
        <li class=""><a title="книги, которые я читаю" href="//victor.kropp.name/ru/books/">читаю</a></li>
        <li class=""><a title="места, где я побывал" href="//victor.kropp.name/ru/travel/">путешествую</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right" style="margin-right: 1em;">
        <li class="navbar-right"><a title="in english" href="//victor.kropp.name/">en</a></li>
      </ul>
    </div>
