<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <title>{{ if (eq .Title "Ontherun") }}На бегу{{else}}{{ .Title }}{{end}}</title>
  <link rel="shortcut icon" href="/icon.png">
  <link rel='stylesheet' href='//cdn.jsdelivr.net/npm/hack-font@3.3.0/build/web/hack.css'>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.css">
  <script type="text/javascript" src="/res/jquery.min.js"></script>
  <script type="text/javascript" src="/res/fotorama.js"></script>
  <link rel="stylesheet" href="/css/site.css">
  <link rel="stylesheet" href="/css/inter-ui.css">
  <link rel="stylesheet" href="/css/pygments.css">
  <link rel="stylesheet" href="/css/flags.css">
  <link rel="stylesheet" href="/res/fotorama.css">
  <meta name="theme-color" content="#ffffff">
