  <div class="container">
    <div class="navbar navbar-fixed-top">
      <div class="navbar-brand"><a href="/">Victor Kropp</a></div>
{{ if .Title }}
      <div class="navbar-brand navbar-title">{{ .Title }}</div>
{{ end }}
      <ul class="nav navbar-nav navbar-right">
{{ if eq .Section "ru" }}
      {{ $currentNode := . }}
      {{ range index .Site.Menus .Section }}
      <li><a class="nav-item{{if or ($currentNode.IsMenuCurrent "main" .) ($currentNode.HasMenuCurrent "main" .) }} active{{end}}" href="{{.URL}}">{{ .Name }}</a></li>
      {{ end }}
{{ end }}
{{ if eq .Section "ru" }}
        <li class="lang"><a title="in english" href="/">en</a></li>
{{ else }}
        <li class="lang"><a title="по русски" href="/ru/">ru</a></li>
{{ end }}
      </ul>
    </div>
