{{ if or (not (isset $.Params "social")) $.Params.social }}
{{ if eq "ru" $.Site.Language.Lang }}
<div class="likely">
  <div class="twitter" data-via="kropp">Твитнуть</div>
  <div class="facebook">Поделиться</div>
  <div class="vkontakte">Поделиться</div>
  <div class="telegram">Отправить</div>
</div>
{{ else }}
<div class="likely">
  <div class="twitter" data-via="kropp">Tweet</div>
  <div class="facebook">Share</div>
  <div class="telegram">Send</div>
</div>
{{ end }}
{{ if eq .Section "blog" }}
<p>Subscribe to all blog posts via <a href="https://feeds.feedburner.com/kropp" class="button button-rss"><i class="fa fa-rss"></i> RSS</a> and join my <a href="https://t.me/devsnap" class="button button-telegram"><i class="fa fa-paper-plane"></i> Telegram</a> channel.</p>
{{ end }}
<div id="disqus_thread"></div>
<script type="text/javascript">
    var disqus_shortname = 'kropp';
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
</div>
{{ end }}
