{{ partial "head" $ }}
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@kropp" />
  <meta name="twitter:title" content="Victor Kropp" />
  <meta name="twitter:description" content="Victor Kropp Homepage" />
  <meta name="twitter:image" content="https://victor.kropp.name/portrait.jpg" />
</head>
<body id="homepage">
{{ partial "navbar" $ }}
<article>

<div class="content">
{{ .Content }}

{{ if eq $.Site.Language.Lang "en" }}
<h4>Latest from my <a href="blog/">blog</a></h4>
<ul class="list-unstyled">
{{ range first 3 (where $.Site.Pages "Section" "blog") }}
<li><a href="{{ .Permalink }}">{{ .Title }}</a> <span class="minor">{{ .Params.description }}</span></li>
{{ end }}
</ul>

<div class="likely">
  <div class="twitter" data-via="kropp">Tweet</div>
  <div class="facebook">Share</div>
  <div class="vkontakte">Share</div>
  <div class="telegram">Send</div>
</div>
{{ end }}
</div>

</article>
{{ partial "footer" $ }}
