{{ partial "head" $ }}
<body>
{{ partial "navbar" $ }}
{{ if eq $.Site.Language.Lang "en" }}
    <h2>On the run</h2>
    <p>{{ "I :swimmer:&nbsp;:bicyclist:&nbsp;:runner:" | emojify }}</p>
    <table>
      <tbody>
{{ range $.Site.Data.events.triathlon.events }}
        <tr><td class="run-result">{{ (time .date).Format "2.01.2006" }}</td><td><i class="flag flag-{{ .country }}"></i></td><td>{{ .name }}</td>{{/* <td>{{ .sport }}</td><td>{{ .distance }}</td> */}}<td class="run-result">{{ .result }}</td></tr>
{{ end }}
      </tbody>
    </table>
{{ else }}
    <h2>На бегу</h2>
    <p>Мои ближайшие планы:</p>
    <table>
      <tbody>
{{ range $.Site.Data.events.triathlon.upcoming }}
        <tr><td>{{ (time .date).Format "2.01.2006" }}</td><td><i class="flag flag-{{ .country }}"></i></td><td><a href="{{ index . "href:ru" }}">{{ .name }}</a></td>{{/* <td>{{ .sport }}</td><td>{{ .distance }}</td><td>{{ .result }}</td> */}}</tr>
{{ end }}
      </tbody>
    </table>
{{ range .Data.Pages.GroupByDate "2006" }}
    <h3>{{ .Key }}</h3>
    <ul class="list-unstyled">
{{ range .Pages }}
      <li><a href="{{ .Permalink }}">{{ .Title }}</a> {{ if not .Date.IsZero }}<time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">{{ .Date.Format "2.01.2006" }}</time>{{ end }}</li>
{{ end }}
    </ul>
{{ end }}
{{ end }}
{{ partial "footer" $ }}
