{{ partial "head" $ }}
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@kropp" />
  <meta name="twitter:title" content="{{ .Title }}" />
  <meta name="twitter:description" content="Victor Kropp Homepage" />
  <meta name="twitter:image" content="https://victor.kropp.name/portrait.jpg" />
  <script src="/js/three.min.js"></script>
  <meta name="theme-color" content="#111115" />
</head>
<body id="travel">
{{ partial "navbar" $ }}
<article>

<div class="content">
  <div id="earth" style="width: 80%; margin: 20px auto 0;"></div>
  <figcaption><p>Imagery: <a href="https://visibleearth.nasa.gov/view_cat.php?categoryID=1484">NASA Visible Earth</a></p></figcaption>
  <script>
    var scene = new THREE.Scene();
    var camera = new THREE.PerspectiveCamera( 75, 4/3, 0.1, 50 );
    camera.position.z = 90;

    var renderer = new THREE.WebGLRenderer({ antialias: true });
    renderer.setPixelRatio(window.devicePixelRatio);
    var container = document.getElementById("earth");
    renderer.setSize(container.clientWidth, container.clientWidth/4*3);
    renderer.setClearColor(0x111115, 1);
    container.appendChild(renderer.domElement);

    var light = new THREE.DirectionalLight( 0xffffff, 0.7 );
    light.position.set( 250, 250, 250 );
    scene.add(light);

    scene.add(new THREE.AmbientLight(0x333333));

    var radius = 29;
    var segments = 40;
    var rings = 30;

    var geometry = new THREE.SphereGeometry(radius, segments, rings);
    geometry.rotateY(THREE.Math.degToRad(120));

    var texture = new THREE.TextureLoader().load('/images/earth2048.jpg');
    var elevation = new THREE.TextureLoader().load('/images/earth-elevation.jpg');
    var material = new THREE.MeshPhongMaterial( {
      map: texture,
      bumpMap: elevation,
      bumpScale: 0.15
    } );

    var sphere = new THREE.Mesh(geometry, material);
    scene.add(sphere);

    var render = function () {

      requestAnimationFrame( render );

      if (camera.position.z > 50) {
        sphere.rotation.x += 0.009;
        sphere.rotation.y += 0.03;
        camera.position.z -= 0.5;
      }

      renderer.render(scene, camera);

    };

    window.addEventListener( 'resize', function () {
      var container = document.getElementById("earth");
      renderer.setSize(container.clientWidth, container.clientWidth/4*3);
    }, false );
    var prevX = 0;
    var prevY = 0;
    window.addEventListener( 'mousedown', function (e) {
      prevX = e.x;
      prevY = e.y;
    });
    window.addEventListener( 'mouseup', function () {
      prevX = 0;
      prevY = 0;
    });
    window.addEventListener( 'mousemove', function (e) {
      if (e.buttons > 0) {
        sphere.rotation.x += (e.y-prevY)/1000;
        sphere.rotation.y += (e.x-prevX)/1000;
        prevX = e.x;
        prevY = e.y;
      }
    }, false );

    render();
  </script>


  {{ range $.Site.Data.travel.continents }}
  <h4>{{ if .flag }}<i class="flag flag-{{ .flag }}"></i> {{ end }}{{ .name }}</h4>
  <dl>
{{ range .countries }}
    <dt>{{ if .code }}<i class="flag flag-{{ .code }}"></i> {{ end }}{{ .name }}</dt>
    {{ if .cities }}<dd>
      {{ delimit (apply .cities "index" "." "name") ", " }}
  </dd>{{ end }}
    {{ if .states }}<dd><dl>
      {{ range .states }}
    <dt>{{ .code }}</dt>
    {{ if .cities }}<dd>
    {{ delimit (apply .cities "index" "." "name") ", " }}
  </dd>{{ end }}
      {{ end }}
  </dl></dd>{{ end }}
{{ end }}
  </dl>
{{ end }}
</div>

</article>
{{ partial "footer" $ }}
