---
extends: base.j2
default_block: fake
title: Книги, которые читает Виктор Кропп
description: Книги, которые читает Виктор Кропп
---
{% block main %}
<h2>Книги</h2>

<p>Здесь я записываю те книги, которые прочитал. Записи я веду скорее для себя, но если они ещё кому-нибудь пригодятся — буду рад.</p>

<div class="col-lg-3">
<div class="sidebar">
<ul class="nav nav-stacked">
  <li><a href="#may2014">май 2014</a></li>
  <li><a href="#apr2014">апрель 2014</a></li>
  <li><a href="#mar2014">март 2014</a></li>
  <li><a href="#feb2014">февраль 2014</a></li>
  <li><a href="#jan2014">январь 2014</a></li>
  <li><a href="#dec2013">декабрь 2013</a></li>
  <li><a href="#nov2013">ноябрь 2013</a></li>
  <li><a href="#oct2013">октябрь 2013</a></li>
  <li><a href="#sep2013">сентябрь 2013</a></li>
  <li><a href="#aug2013">август 2013</a></li>
  <li><a href="#jul2013">июль 2013</a></li>
  <li><a href="#jun2013">июнь 2013</a></li>
  <li><a href="#may2013">май 2013</a></li>
  <li><a href="#apr2013">апрель 2013</a></li>
  <li><a href="#mar2013">март 2013</a></li>
  <li><a href="#feb2013">февраль 2013</a></li>
  <li><a href="#jan2013">январь 2013</a></li>
  <li><a href="#dec2012">декабрь 2012</a></li>
  <li><a href="#nov2012">ноябрь 2012</a></li>
  <li><a href="#oct2012">октябрь 2012</a></li>
  <li><a href="#sep2012">сентябрь 2012</a></li>
  <li><a href="#aug2012">август 2012</a></li>
</ul>
</div>
</div>
<div class="col-lg-9" id="bookslist">
{% filter markdown|typogrify -%}

<div id="may2014"></div>

##### Дональд Норман
###### «Дизайн привычных вещей»
Черновое название книги «Психология привычных вещей» гораздо точнее её описывает.

###### «Дизайн вещей будущего»
Достойное продолжение предыдущей книги.

##### Олдос Хаксли
###### «О дивный новый мир»
О том до чего может довести общество потребления.

##### Шейла Таормина
###### «Секреты быстрого плавания для пловцов и триатлетов»

Вся книга об одном элементе, очень важном, но всё же подобная зацикленность немного настораживает. И автор — спортсмен, а не писатель, так что стиль хромает.

<div id="apr2014"></div>

##### Джейсон Фрайд и Дэвид Хайнемайер Хенссон
###### Rework <i class="flag flag-gb"></i>

Известная книга про то, как изменить свой подход к работе. Как и в Remote, много воды, но мысли все очень здравые.

##### Харуки Мураками
###### «Норвежский лес»

Один из лучших романов Мураками (и как обычно немного автобиографичный). Про студента, ищущего себя в жизни и пытающегося разобраться в своих чувствах, что никогда не бывает просто.

<div id="mar2014"></div>

##### Курт Воннегут
###### «Бойня номер пять или Крестовый поход детей»

Про войну, интересно и грустно.

##### Фазиль Искандер
###### «Кролики и удавы»

О политическом строе общества на примере кроликов и удавов.

##### Джордж Оруэлл
###### «Скотный двор»

*Оставшиеся снаружи переводили взгляды от свиней к людям, от людей к свиньям, снова и снова всматривались они в лица тех и других, но уже было невозможно определить, кто есть кто.*

##### Виктор Пелевин
###### «Числа»

Недалёкий человек верит в своё любимое число, боится его антипод, но ему это всё равно не помогает.

<div id="feb2014"></div>

##### Габриэль Гарсия Маркес
###### «Сто лет одиночества»

История посёлка Макондо и основавшей его семьи Буэндиа, в которой время течёт по спирали и заканчивается тем, с чего начиналось — ничем.

<div id="jan2014"></div>

##### Харуки Мураками
###### «Пинбол-1973»

Вторая повесть из цикла про Крысу. Про увлечения, которые другим не понять.

###### «Охота на овец»

Полудетективный экшн о цели жизни и, как это не банально, борьбе добра и зла.

###### «Дэнс, дэнс, дэнс»

Спустя четыре года после «Охоты на овец» герой всё ещё пытается разобраться в себе.

<div id="dec2013"></div>

##### Ричард Фейнман
###### «Вы, конечно, шутите, мистер Фейнман!»

Интересная автобиография одного из выдающихся учёных 20 века. Знание физики для чтения не обязательно.

##### Пол Рэнд
###### «Дизайн: форма и хаос»

О том, почему дизайн важен. Даже для таких далеких от дизайна людей, как я.

##### Джейсон Фрайд и Дэвид Хайнемайер Хенссон
###### «Remote: офис не нужен» (Remote: Office Not Required) <i class="flag flag-gb"></i>

Много полезных советов про то, как можно и почему нужно работать удаленно, а не в одном офисе. Некоторое применимо, впрочем, и к работе в офисе.

<div id="nov2013"></div>

##### Стивен Кови
###### «7 навыков высокоэффективных людей»

Широко известная по всему миру  книга, заставляющая по-другому взглянуть на то, что и как мы делаем в жизни. Всем рекомендую.

###### «Восьмой навык: от эффективности к величию»

Больше воды чем в первой книге и самоповторы оттуда же, тем менее неплохое подведение итогов «7 навыков» и направление дальнейшего развития.

<div id="oct2013"></div>

##### Рубен Давид Гонсалес Гальего
###### «Белое на чёрном»

Автобиография инвалида-сироты в Советском Союзе. Невыдуманные ужасы детских домов и больниц. Страшное чтение.

<div id="sep2013"></div>

##### Вукан Вучик
###### «Транспорт в городах удобных для жизни»

Книга от профессионала транспортного планирования, объясняющая как должна функционировать транспортная система в крупных городах. Прочтите, если хотите понять, почему тупое расширение дорог и ликвидация светофоров делают только хуже.

##### Харуки Мураками
###### «Слушай песню ветра»

Очередная история из жизни от одного из моих любимых авторов.

<div id="aug2013"></div>

##### Чак Паланик
###### «Бойцовский клуб» <i class="flag flag-gb"></i>

После фильма книгу читать не интересно. Да и стиль мне не по душе. Дочитал только потому, что читал по-английски, для развития.

##### Фарли Моуэт
###### «Собака, которая не хотела быть просто собакой»

Ещё одна скорее детская книжка, которую я уже читал давным-давно. Автобиографические воспоминания о многочисленных весёлых историях, в которые попадала любимая собака. С грустным концом, к сожалению.

##### Кеннет Грэм
###### «Ветер в ивах»

Милая детсвая книжка про животных, которые ведут себя совсем как люди, со всеми присущими им недостатками и причудами. Интереснее детям, но и для взрослых сойдёт.

<div id="jul2013"></div>

##### Михаил Булгаков
###### «Иван Васильевич»

Пьеса, по которой поставлен известный фильм. После просмотра читать не обязательно — всё равно ничего нового.

##### Франц Кафка
###### «Процесс»

Абсолютно абсурдная история про человека, который узнает, что на него заведено уголовное дело, но не знает за что. Заканчивается неожиданно, но в духе происходящих перед этим событий, лишённых какой бы то ни было логики.

<div id="jun2013"></div>

<div id="may2013"></div>

##### Эйн Рэнд
###### «Атлант расправил плечи» Часть 1.

Завязка истории про увлечённых своим делом бизнесменов и бизнеследи.

###### «Атлант расправил плечи» Часть 2.

Продолжение про упадок современного мира, в котором те, кто трудится, становятся с каждым днем беднее, а вымогатели и воры — богаче.

###### «Атлант расправил плечи» Часть 3.

О том, чем всё это закончится.

<div id="apr2013"></div>

##### Роберт Шекли
###### «Корпорация „Бессмертие“»
Переселение душ и жизнь после смерти стали нормальными явлениями в будущем. О нравственных проблемах связанных с этим.

##### Нил Стивенсон
###### «Лавина»
Один из культовых романов жанра киберпанк. Местами занудно, но хакерская романтика чувствуется в мелких деталях.

<div id="mar2013"></div>

##### Эллен Колеман
###### «Питание для выносливости»
Полезная книжка о том, как надо питаться и как организм тратит потребляемые вещества. Не только для спортсменов.

##### Курт Воннегут
###### «Галапагосы»
Слегка фантастический рассказ, про дарвиновский естественный отбор на примере Галапагосских островов. Написано интересно, но заканчивается ничем.

###### «Фокус-Покус»
Про ветерана Вьетнама и его судьбу после войны. Написано очень интересно, а некоторые мысли заставляют задуматься.

##### Джозеф Хеллер
###### «Уловка-22»
Театр абсурда во время Второй Мировой войны глазами солдата. И пародию тут не отличить от реальности.

<div id="feb2013"></div>

##### Эрих Гамма и др. (Банда четырёх)
###### «Приёмы объектно-ориентированного проектирования. Паттерны проектирования» <i class="flag flag-gb"></i>
Классика, которую просто обязан прочитать любой мало-мальски уважающий себя профессиональный программист. Первый раз я её читал ещё в на первом курсе, решил освежить в памяти, заодно перечитав в оригинале.

##### Дейл Карнеги
###### «Как вырабатывать уверенность в себе и влиять на людей выступая публично»
Третья из наиболее известных книг Карнеги, как обычно хороша. Воды и самоповторов намного меньше, чем в предыдущих двух.

##### Джеф Раскин
###### «Интерфейс. Новые направления в проектировании компьютерных систем»
Известная книга про проектирование интерфейсов. Очень полезна, хотя местами автор слишком настойчиыо упоминает о своих разработках и о том, какие они были правильные и хорошие.


<div id="jan2013"></div>

##### Кен Кизи
###### «Пролетая над гнездом кукушки»
Поначалу шло очень тяжело, но когда стало ясно о чём книга, не мог оторваться. Про психбольницу и про то, кто на самом деле псих.

##### Антуан де Сент-Экзюпери
###### «Маленький принц» <i class="flag flag-de"></i>
Одна из моих любимейших книжек, которую я перечитываю уже не в первый раз, на этот раз по-немецки.

<div id="dec2012"></div>

##### Ян Гэйл
###### «Города для людей»
По другому взглянул на города и их развитие. Хорошая книга, правда некоторые мысли повторяются раз по десять.

##### Джон Грей
###### «Мужчины с Марса, женщины с Венеры»
Многообещающее вступление и разбавленые океаном воды 5-7 хороших мыслей в остальной книге.

##### Джордж Оруэлл
###### «1984»
Актуальная книга для понимания происходящих в мире и в России в частности событий.

<div id="nov2012"></div>

##### Стивен Левитт
###### «Суперфрикономика»
Прекрасное продолжение «Фрикономики», которое как и утверждает автор в предисловии получилось ещё лучше, чем первая книга.

##### Фредерик Брукс
###### «Мифический человеко-месяц»
Обязательно к прочтению всем профессиональным программистам, хоть местами книга и безнадежно устарела, но многие идеи и сейчас актуальны и останутся таковыми ещё долго.

##### Чингиз Айтматов
###### «И дольше века длится день…»
О судьбах людей, сталинских репрессиях, внеземной цивилизации и казахских легендах.

<div id="oct2012"></div>

##### Дейл Карнеги
###### «Как приобретать друзей и оказывать влияние на людей»
Ещё одна полезная книга от Карнеги, про взаимоотношения с людьми, которые нас окружают.

##### Стивен Левитт
###### «Фрикономика»
Нестандартный взгляд на современный мир, но многие факты уже широко известны.

<div id="sep2012"></div>

##### Бернард Вебер
###### «Древо возможного и другие рассказы»
Сборник коротких рассказов, о том как мог бы быть устроен наш мир, сдобренный отменным юмором.

##### Гордон Пири
###### «Бегай быстро и без травм»
Советы специалиста спортсменам и любителям.

##### Харуки Мураками
###### «О чём я говорю, когда говорю о беге»
Сборник автобиографических очерков о беге и жизни.

##### Дейл Карнеги
###### «Как перестать беспокоиться и начать жить»
Название говорит само за себя. Очень полезная книга с примерами из реальной жизни.

<div id="aug2012"></div>

##### Филипп К. Дик
###### «Мечтают ли андроиды об электроовцах?»
Способны ли роботы на эмпатию? О чувствах роботов и людей.

###### «Особое мнение»
Про ещё не совершенные преступления, за которые можно получить совершенно реальное наказание.

###### «Плата за копирование», «Спешите приобрести!», «Бесконечность»
Короткие рассказы, каждый из которых раскрывает какую-нибудь одну мысль

##### Орсон Скотт Кард
###### «Игра Эндера»
Отличный психологический фантастический рассказ о жизни человека и целой нации.
{% endfilter %}
</div>
{% endblock %}

{% block scripts %}
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  <script type="text/javascript">
    //$(window).scrollspy({wrap: $('#bookslist')[0]});
    $(function() {
    var $window = $(window)
    var $body   = $(document.body)

    var navHeight = $('.navbar').outerHeight(true) + 10

    $body.scrollspy({
      target: '.sidebar',
      wrap: $('#bookslist')[0],
      offset: navHeight
    })

    $body.on('click', '.sidebar [href^=#]', function (e) {
      var $target = $(this.getAttribute('href'))

      e.preventDefault() // prevent browser scroll

      $window.scrollTop($target.offset().top - navHeight + 25)
    })

    $window.scroll(function() {
       var scrollTop = $(window).scrollTop();

       if (scrollTop > 215) $('.sidebar').addClass('sidebar-fixed');  
       else $('.sidebar').removeClass('sidebar-fixed'); 
    });
    });
  </script>
{% endblock %}
