---
extends: base.j2
default_block: fake
title: Книги, которые читает Виктор Кропп
description: Книги, которые читает Виктор Кропп
---
{% block main %}
<h2>Книги</h2>

<p>Здесь я записываю те книги, которые прочитал. Записи я веду скорее для себя, но если они ещё кому-нибудь пригодятся — буду рад.</p>

<div class="col-lg-3">
<div class="sidebar">
<ul class="nav nav-stacked nav-outer" id="nav-years">
</ul>
</div>
</div>
<div class="col-lg-9" id="bookslist">
  <ul class="pagination">
    <li id="all" class="active"><a href="#" onclick="filter(null);" title="все">все</a></li>
    <li id="en"><a href="#" onclick="filter('en');" title="по-английски"><i class="flag flag-gb"></i></a></li>
    <li id="ru"><a href="#" onclick="filter('ru');" title="по-русски"><i class="flag flag-ru"></i></a></li>
    <li id="de"><a href="#" onclick="filter('de');" title="по-немецки"><i class="flag flag-de"></i></a></li>
  </ul>
</div>

<script src="http://cdnjs.cloudflare.com/ajax/libs/d3/3.4.13/d3.js"></script>
<style>
#bookslist ul.pagination {
  margin-bottom: 0px;
}
.book,
.author h5,
.book h6,
.book p {
  transition: all .5s ease-in-out;
}
.book.book-visible {
  opacity: 1.0;
}
.author.author-hidden *,
.book.book-hidden * {
  opacity: 0.0;
  margin: 0;
  line-height: 0;
  padding: 0;
}
.book.book-hidden h6 i {
  display: none;
}
</style>
<script type="text/javascript">
  var monthNames = ["jan", "feb", "mar", "apr", "may", "jun", "jul", "aug", "sep", "oct", "nov", "dec"];
  var monthNamesRu = ["январь", "февраль", "март", "апрель", "май", "июнь", "июль", "август", "сентябрь", "октябрь", "ноябрь", "декабрь"];
  var allBooks = [];
  var books = [];
  
  function nestEntries(allBooks) {
    return d3.nest()
      .key(function(d) { return +d.date.getFullYear(); })
      .sortKeys(d3.descending)
      .key(function(d) { return ("0"+d.date.getMonth()).slice(-2); })
      .sortKeys(d3.descending)
      .key(function(d) { return d.author; })
      .entries(allBooks);
  }

  function filterByLanguage(books, lang) {
    books.forEach(function(year) {
      year.values.forEach(function(month) {
        month.values.forEach(function(author) {
          author.values.forEach(function(d) {
            if (!lang)
              d.hidden = false;
            else
              d.hidden = d.lang != lang;
          });
        });
      });
    });
  }

  function filter(lang) {
    filterByLanguage(books, lang);
    updateSelections(books);
    d3.selectAll("#bookslist li").attr("class", "");
    if (!lang) lang = "all";
    d3.select("#" + lang).attr("class", "active");
  }

  function updateSelections(books) {
    var div = d3.select("#bookslist");

    var years = div.selectAll("div.year").data(books);
    years.enter().append("div").attr("class", "year")

    years.attr("id", function(d) { return "y" + d.key; });

    var months = years.selectAll("div.month").data(function(d) { return d.values; });
    months.enter().append("div").attr("class", "month")

    months.attr("id", function(d, i) { return monthNames[this.parentNode.__data__.values.length - i - 1] + "" + this.parentNode.__data__.key; });

    var authors = months.selectAll("div.author").data(function(d) { return d.values; });
    authors.attr("class", function(d) { return d.values.every(function(d) { return d.hidden; }) ? "author author-hidden" : "author author-visible" })
    var author = authors.enter().append("div");
    author.attr("class", "author").append("h5").text(function(d) { return d.key; });

    var books = authors.selectAll("div.book").data(function(d) { return d.values; });
    books.attr("class", function(d) { return d.hidden ? "book book-hidden" : "book book-visible" })

    var entry = books.enter().append("div");
    entry.attr("class", "book");
    entry.append("h6").text(function(d) { return d.title + " "; }).append("i").attr("class", function(d) { 
      if (!d.lang || d.lang == "ru") return "";
      if (d.lang == "en") return "flag flag-gb";
      return "flag flag-de";
    });
    entry.append("p").text(function(d) { return d.notes; });
  }

  function createYearsNavigation(books) {
    var div = d3.select("#nav-years");

    var years = div.selectAll("li.year").data(books);
    var year = years.enter().append("li").attr("class", function(d, i) { return i == 0 ? "year active" : "year"; })
    year.append("a").attr("href", function(d) { return "#y" + d.key; }).text(function(d) { return d.key; });
    var list = year.append("ul").attr("class", "nav nav-stacked nav-inner")

    var months = list.selectAll("li.month").data(function(d) { return d.values; });
    var month = months.enter().append("li").attr("class", "month")
    month.append("a").attr("href", function(d, i) { return "#" + monthNames[this.parentNode.parentNode.__data__.values.length - i - 1] + "" + this.parentNode.parentNode.__data__.key; })
      .text(function(d, i) { return monthNamesRu[this.parentNode.parentNode.__data__.values.length - i - 1]; });
  }

  d3.json("books.json", function(data) {
    allBooks = data.books;
    allBooks.forEach(function(d) { d.date = new Date(d.date); d.hidden = false; });

    books = nestEntries(allBooks);

    createYearsNavigation(books);

    updateSelections(books);
  });
</script>
{% endblock %}

{% block scripts %}
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  <script type="text/javascript">
    //$(window).scrollspy({wrap: $('#bookslist')[0]});
    $(function() {
    var $window = $(window)
    var $body   = $(document.body)

    var navHeight = $('.navbar').outerHeight(true) + 10

    $body.scrollspy({
      target: '.sidebar',
      wrap: $('#bookslist')[0],
      offset: navHeight
    })

    $body.on('click', '.sidebar [href^=#]', function (e) {
      var $target = $(this.getAttribute('href'))

      e.preventDefault() // prevent browser scroll

      $window.scrollTop($target.offset().top - navHeight + 25)
    })

    $window.scroll(function() {
       var scrollTop = $(window).scrollTop();

       if (scrollTop > 215) $('.sidebar').addClass('sidebar-fixed');  
       else $('.sidebar').removeClass('sidebar-fixed'); 
    });
    });
  </script>
{% endblock %}
